*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

.headercontainer {
    /* position: fixed; */
    height: 50px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
}

.logo {
    /* height: 80px; */
    /* padding: 10px; */
}

.logo img {
    height: 30px;
}

.Headername{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 70px;
}

.Headername a {
    text-decoration: none;
    color: white;
}

.headericon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.headericon a {
    text-decoration: none;
    /* gap: 20px; */
    color: white;
}











