.img_url {
  width: 100px;
  height: auto;
}
.shop-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 1px solid black;
  padding: 15px;
  box-shadow: 5px 5px 5px 5px grey;
  border-radius: 20px;
}


.content{
    text-wrap: wrap;
}

p {
  margin-top: 10px;
  padding: 10px;
}
.EmialBox {
    border: none;
    padding: 5px;
    border-radius: 5px; 
    display: block;
    width: 150px;
    height: 20px;
    
}
