.footer {
    height: 200px;
    background-color: black;
    color: white;
    border-radius: 15px;
     display: flex;
    flex-direction: column;
    align-items: center; 
    /* padding: 20px; */
    /* margin-top: 5px; */
}
.footer h3 {
    margin-top: 50px;

}

.footer h4 {
    margin-top:10px ;
}


.email{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 15px;
    border: 1px solid white;
    border-radius: 10px;
    width: 250px;
    margin-top: 15px;
}

.email a {
    text-decoration: none;
    color: lightpink;
}


